.footer-content {
  z-index: 99990;
  // margin-top: 80%;
  padding-bottom: 1.2%;
  @media screen and (max-width: 1024px) {
    padding-bottom: 2.2vh;
  }
  @media screen and (max-width: 480px) {
    padding-top: 82.2%;
  }
  svg{
    position: relative;
    border-radius: 6%;
    padding: 5px;
    font-size: 25px;
    margin-left: 2.6%;
    color: #3D6F5D;
    z-index: 9999;
  }
}
// color: rgba(200, 230, 237, 1);        
